
@{
    ViewBag.Title = "PaymenOptions";
}
<div id="servicecontainer" class="container-fluid" style="background-image: url(http://evento.com.pk/wp-content/uploads/2016/08/img1-1.jpg);
background-position: top center; background-repeat: no-repeat; background-attachment: scroll; background-size: cover; color: white">
    <h1>A RANGE OF PAYMENT METHODS FOR YOUR CONVENIENCE</h1>
    <div id="servicerow" class="row" style="margin-top:auto">
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCOsCt52lDYWb63CdS0ibRVKc7GET3WKKdCg&usqp=CAU" id="cashimg" class="img-circle" /><br />
            <h3 id="servicetype">CASH</h3><br />
            <p id="servicedescription">You can call on our number if you want to pay through cash personally.</p><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzVnhi-L7ok8BcK15nhefHvhfJftDRzEFEuA&usqp=CAU" id="creditcardimg" class="img-circle" /><br />
            <h3 id="servicetype">CREDIT CARD</h3><br />
            <p id="servicedescription"> Cresit Card Details</p><br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd3lTa4bwBmSsHE6F2KFp7cRprCd_fKSUYOA&usqp=CAU" id="easypaisaimg" class="img-circle" /><br />
            <h3 id="servicetype">EASY PAISA</h3><br />
            <p id="servicedescription">Easy Paisa Details.</p><br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb-OmCvsuNceQTVf6BshUOlDUjIK6osgLiFw&usqp=CAU" id="jazzcashimg" class="img-circle" /><br />
            <h3 id="servicetype">JAZZ CASH</h3><br />
            <p id="servicedescription">Jazz Cash Details.</p><br /><br />
        </div>
        <div id="servicecol" class="col-lg-4">
            <img src="https://www.picpedia.org/clipboard/images/bank-account.jpg" id="bankaccountimg" class="img-circle" /><br />
            <h3 id="servicetype">Bank Account</h3><br />
            <p id="servicedescription">Bank Account Details.</p><br /><br />
        </div>
    </div>
</div>

<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>
